#root{
  background: black;
}

.row{
  float: left;
  overflow: hidden;
  width: max-content;
}

.row > * {
  float: left;
  transition:0.25s ease-out all;
}

.App{
  overflow: hidden;
  max-width: 100vw;
  max-height: 100vh;
}
